.grid {
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
		"header"
		"article"
		"aside"
		"footer";
}
.grid-item {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 20px;
    background: #fff
}

.grid-item div {
	background-color: rgb(97, 110, 153);
	border: 1px solid #212941;
	border-radius: 5px;
	padding: 8px 15px;
	color: #ffffff;
	font-size: 18px;
	font-family: roboto;
}


header {
	grid-area: header;
}

article {
	grid-area: article;
}

aside {
	grid-area: aside;
}

footer {
	grid-area: footer;
}

@media (min-width: 640px) {
	.grid {
		grid-template-columns: 2fr 4fr;
		grid-template-areas:
			"header header"
			"aside article"
			"aside footer"
	}
}

.grid > *{
	background-color: #28314E;
	border: 1px solid #212941;
	border-radius: 5px;
	padding: 8px 15px;
	color: #ffffff;
	font-size: 18px;
	font-family: roboto;
}

.grid > *:nth-child(odd) {
	background-color: #475477;
}